*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

body {
	background-color: #d3d3d3;
	background-repeat: no-repeat;
	background-blend-mode: all;
	background-size: 1600px;
	background-attachment: ;
	background-position:top;
	background-image: url(images/mountaintop.JPG);
	background-repeat: repeat-x;
}

nav img {
	float: left;
	height: 60px;

}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: white;
}

nav ul {
	float: left;
	margin: 10px;
}

nav ul li {
	float: left;
	list-style: none;
	position: relative;
}

nav ul li a {
	display: block;
	font-family: sans-serif;
	color: #222;
	font-size: 50px;
	padding: 14px 20px;
	text-decoration: none;
	line-height: 150px;
	alin
}

nav ul li ul {
	display: none;
	position: absolute;
	background-color: #fff;
	border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
	display: block;
}

nav ul li ul li {
	width: 150px;
	border-radius: 4px;
}

nav ul li ul li a {
	padding:8px 14px;
}

nav ul li ul li a:hover {
	padding:8px 14px;
	background-color: #f3f3f3;
}

.map {
	height: 600px;
	width: 900px;
	margin: 20px;
	border: none;

}

header {
	text-align: left;
	padding: 5px;
	font-family: sans-serif;
}

table {
	background-color: #f3f3f3;
	margin: 50px;
	padding: 2px;
	border-style: solid;
	border-radius: 4px;
}

table tr td {
	padding: 10px;

}

.description {
	margin: 30px;
	display: block;
	background-color: #fff;
	padding: 20px;
	font-size: 30px
}

.heading-title {
	margin-top: 700px;
	display: block;
	padding: 20px;
	font-size: 84px;
	text-align: center;
	color: black;
}

.secondary {
	margin: 30px;
	display: block;
	background-color: #fff;
	padding: 20px; 
	font-size: 30px;
}

footer {
	display: block;
	background-color: grey;
	text-align: center;
	line-height: 30px;
}

.table {
	background-color: #fff;
	display: block;
	margin: 30px;
	padding: 20px;
	font-size: 30px;
}

.solo {
	height: 385px;
	width: 651px;
	margin: 20px;
	border: none;
}

.airplane {
	height: 655px;
	width: 530px;
	margin: 20px;
	border: none;
}

.logo {
	width: 50px;
	height: 50px;

}

.list {
	display: flex;
	justify-content: space-around;
	width: 80%;
}

.list li {
	list-style: none;
}

.list a {
	color: black;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}

.burger {
	display: none;

}

.burger div {
	width: 25px;
	height: 3px;
	background-color: blue;
	margin: 5px;
}

.wrapper {
	position: relative;
	overflow: hidden;
	padding-bottom: 66.67%;
}

.wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%
	height 100%
}

.wrapper2 {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}

.wrapper2 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%
	height 100%
}

.wrapper3 {
	position: relative;
	overflow: hidden;
	padding-bottom: 56.25%;
}

.wrapper3 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%
	height 100%
}

.nav-active {
 	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}



@media (max-width: 480px){
	body {
		background-image: url(images/mountaintop.JPG);
		max-width: 100%;
	}
	 
	 .heading-title {
	 	font-size: 35px;
	 }

	 h1 {
		text-align: center;
	}
}

@media (min-width: 481px) and (max-width: 540px){
	body {
		background-image: url(images/mountaintop.JPG);
		max-width: 100%;
	}
	.heading-title {
		font-size: 45px;
	}

	h1 {
		text-align: center;
	}
}

@media (min-width: 541px) and (max-width: 768px){
	body {
		background-image: url(images/mountaintop.JPG);
		max-width: 100%;
		overflow-x: hidden;
	}

	.heading-title {
		font-size: 55px;
	}

	h1 {
		text-align: center;
	}

	.list {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 30%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in; 
	}

	.list li {
		opacity: 0;

	}
	.burger {
		display: block;
		cursor: pointer;
	}
}
 

@media (min-width: 769px) and (max-width: 1024px){
	body {
		background-image: url(images/mountaintop.JPG);
		max-width: 100%;
	}

	.heading-title {
		font-size: 65px;
	}

	h1 {
		text-align: center;
	}
}


@media (min-width: 1025px) and (max-width: 1200px){
	body {
		background-image: url(images/mountaintop.JPG); 
		max-width: 100%;
	}
	.heading-title {
		font-size: 75px;
	}
	
	h1 {
		text-align: center;
	}
}

@media (min-width: 1201px){
	body {
		background-image: url(images/mountaintop.JPG);
		max-width: 100%;
	}
	.heading-title {
		font-size: 85px;
	}

	h1 {
		text-align: center;
	}
}

